body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #FAF5F2 !important;
}

.pics{
    /* max-width: 14rem;
    min-width: 8rem;
    min-height: 60%;
    height: 100%; */
    max-height: 21rem;
    border-radius: 5rem 0 5rem 0;
}
.img-list{
    column-gap: 2rem;
}

.bottle{
    max-height: 4rem;
}

.card-list{
    column-gap: 1.5rem;
}

.custom-bg{
    background-color: #FE897A !important;
    color: #ffffff !important;
}
.custom-col{
    color: #FE897A !important;
}

.rounded-lg{
    border-radius: 1rem !important;
}

.card{
    font-size: 0.8rem !important;
}

.gg-arrow-right-o{
    color: #FE897A !important;
}